<!DOCTYPE html>
<html>
<head>
    <title>Black &amp; White</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}
  
    <!-- css -->
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'blog/css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/friendly.css' %}">
    <!-- 4.28 代码高亮css-->
    <link rel="stylesheet" href="{% static 'blog/css/code.css' %}">  
    <!-- js -->
    <script src="{% static 'blog/js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/pace.min.js' %}"></script>
    <script src="{% static 'blog/js/modernizr.custom.js' %}"></script>
</head>
<body>
<div class="container">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="{% url 'Blog:index' %}"><b>Django</b> &amp; Blog</a></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="{% url 'Blog:index' %}" data-hover="Home">Home</a></li>
                            <li class="cl-effect-11"><a href="full-width.html" data-hover="Blog">Blog</a></li>
                            <li class="cl-effect-11"><a href="{% url  'Blog:about'%}" data-hover="About">About</a></li>
                            <li class="cl-effect-11"><a href="contact.html" data-hover="Contact">Contact</a></li>
                            <!--尝试进行搜索框
                            <li>
                                <form class="pure-form" action="/search/" method="get">
                                    <input class="pure-input-3-2" type="text" name="q" placeholder="search">
                                </form>
                            </li>-->

                            <!--主页添加用户登录提示 25/04/2017更新-->
                            
                            <!--主页添加用户注销提示 29/04/2017更新-->
                            {% if user.is_authenticated %}
                            <li class="cl-effect-11"><a href="{% url 'user:logout'%}" data-hover="注销"> 注销</a></li>
                            {% else %}
                            <li class="cl-effect-11"><a href="{% url 'user:login'%}" data-hover="登录">登录</a></li>
                            {% endif %}

                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                <!--2/05/2017搜索按钮实现搜索功能，成功跳转-->
                <div id="header-search-box">
                    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="/search/">
                            <input  type="text" name="q" placeholder="search" required>
                            <!--<input type="search" placeholder="Search" required>-->
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </header>
</div>

<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                {% block main %}
                {% endblock main %}

             <!--侧边栏显示-->   
            </main>

            {% load blog_tags %}
            <aside class="col-md-4">
                <!--侧边栏在用户登录后可以进行备忘录/新增文章操作-->
                <div class="widget widget-recent-article">
                    <ul class="nav nav-pills">
                        {% if user.is_authenticated %}
                         <li class="active">
                             <a href="{% url 'Blog:new_article' %}">
                             <span class="glyphicon glyphicon-pencil">新建</span> 
                             </a>
                         </li>
                         <li class="active">
                             <a href="todos">
                             <span class="glyphicon glyphicon-pencil">备忘录</span> 
                             </a>
                         </li>
                        {% endif %}
                    </ul>                        
                </div>
                <!--最新文章-->
                <div class="widget widget-recent-posts">        
                        <h3 class="widget-title">最新文章</h3>
                        {% get_recent_posts as recent_post_list %}      
                        <ul>
                            {% for post in recent_post_list %}
                            <li>
                                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                </div>

                <!--按日期归档-->
                <div class="widget widget-archives">
                    <h3 class="widget-title">归档</h3>
                    {% archives as date_list %}
                    <ul>
                        {% for date in date_list %}
                        <li>
                            <a href="{% url 'Blog:Archives' date.year date.month %}">
                                {{ date.year }} 年 {{ date.month }} 月
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <!--按主题分类-->
                <div class="widget widget-category">
                    <h3 class="widget-title">分类</h3>
                    {% get_categories as category_list %}
                    <ul>
                        {% for category in category_list %}
                        <li>
                            <a href="{% url 'Blog:category' category.pk %}">{{ category.theme }} 
                            (<small>{{ category.article_set.count }}</small>)</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <!--标签归档-->
                <div class="widget widget-tag-cloud">
                    <h3 class="widget-title">标签云</h3>
                    {% tag_categories as tag_list %}
                    <ul>
                        {% for tag in tag_list %}
                        <li>
                            <a href="{% url 'Blog:tag_categroy' tag.pk %}">{{ tag.name }}(<small>{{ tag.article_set.count }}</small>)
                            </a>
                        </li>
                        {% endfor %}
                    </ul>                  
                </div>

                <!--显示评论最多的帖子-->
                <div class="widget widget-category">
                    <h3 class="widget-title">热点文章</h3>
                    {% get_most_commented_articles as most_commented_articles  %}
                    <ul>
                        {% for article in most_commented_articles %}
                            <li>
                                <a href="{{ article.get_absolute_url }}">{{ article.title }} </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </aside>
        </div>
    </div>
</div>
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">&copy; <a>Copyright 2017 Develope by Django-Web Team</a></p>
            </div>
        </div>
    </div>
</footer>




<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="full-width.html">Blog</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</div>


<script src="{% static 'blog/js/script.js' %}"></script>

</body>
</htm>